<!DOCTYPE html>
<html lang="en">
    <head>
        
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <title>Beaglebone WebHost</title>
        <meta name="author" content="sddec21_proj07" />
        
        <link rel="icon" type="image/jpg" href="/refs/img/icon.png" size="32x32" />
    </head>
    
    <body>
        <h1>Index</h1>
        <h2>Hello</h2>
        <p>Nothing to see here...</p>
    </body>
</html>