<!DOCTYPE html>
<html lang="en">
    <head>
        
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <title>Beaglebone WebHost: Error 502</title>
        <meta name="description" content="Error code 502 re-direct page" />
        <meta name="author" content="sddec21_proj07" />
        
        <link rel="icon" type="image/jpg" href="/refs/img/icon.png" size="32x32" />
    </head>
    
    <body>
        <h1>Error 502: Bad gateway</h1>
    </body>
</html>